@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,100&display=swap');
.container-main{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    vertical-align: middle;
}

.ramda{
width: 334px;
height: 79px;
left: 0px;
top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
align-items: center;
text-align: center;
color: #000000;
text-decoration: none;
}
.mda{
    color:#4BCAFF; 
}
.top-menu{
    display: flex;
    width: 1280px;
height: 72px;
left: 0px;
top: 117px;
    list-style-type: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    text-decoration-color:#FFFFFF ;
    font-weight: 400;
font-size: 24px;
line-height: 28px;
    border: 1px solid 
    #FFFFFF;
    background: #35444F;
}
.top-menu-1{
width: 162px;
padding: 0%;
border-right: 1px solid #FFFFFF;
}
.top-menu-2{
width: 266px;
height: 27px;
left: 194px;
top: 143px;
padding: 26px 32px 19px 32px;
color: #FFFFFF;
border-right: 1px solid #FFFFFF;
}
.top-menu-3{
width: 77px;
height: 27px;
left: 530px;
top: 143px;
padding: 26px 38px 19px 38px;
color: #FFFFFF;
border-right: 1px solid #FFFFFF;
}
.top-menu-4{
width: 204px;
height: 27px;
left: 685px;
top: 143px;
padding: 26px 40px 19px 40px;
color: #FFFFFF;
border-right: 1px solid #FFFFFF;
}
.top-menu-5{
width: 163px;
height: 27px;
left: 969px;
top: 143px;
padding: 26px 18px 19px 18px;
color: #FFFFFF;
border-right: 1px solid #FFFFFF;
}
.top-menu-6{
width: 133px;
padding: 0%;}
.main-content{
    display: flex;
    justify-content: space-between;
    width: 1280px;
height: 529px;
padding-top: 40px;
}
.sidebar{
    width: 344px;
height: 399px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
font-size: 27px;
line-height: 27px;
    border: 1px solid #DFDFDF;
    box-sizing: content-box;
}
.sidebar-ramda{
padding:26px 194px 25px 44px;
width: 106px;
height: 27px;
left: 44px;
top: 26px;
box-sizing: border-box;
color: #485863;
}
.why-ramda{
  padding: 27px 78px 27px 38px;  
  width: 226px;
  height: 27px;
  left: 39px;
  top: 105px;
  color: #495863;
}
.different{
  padding: ;  
  width: 220px;
height: 27px;
left: 42px;
top: 184px;
color: #495863;
}
.introductions{
    width: 179px;
    height: 27px;
    left: 44px;
    top: 263px;
color: #495863; 
}
.philosophy{
    width: 153px;
height: 27px;
left: 44px;
top: 342px;
color: #495863;
}
.image{
    display: flex;
  justify-content: center;
  align-items: center;
width: 885px;
height: 529px;
left: 0px;
top: 0px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
}
.text{
display: inherit;
Font family: Roboto
font-style: Regular;
font-size: 18px;
Line height: 24px;
Line height: 114%;
text-align: 

Paragraph spacing: 1px
}
.text-1{
padding: 37px;
padding-left: 496px;
text-align: left;
Font size: 18px
Line height: 24px
Line height: 114%
Align: Left
Vertical align: Top
Paragraph spacing: 1px
}
.text-2{
padding: 32px;
width: 885px;
text-align: left;
Font size: 18px
Line height: 24px
Line height: 114%
Align: Left
Vertical align: Top
Paragraph spacing: 1px
}
