
.menu__list {
    display: inline-block;
    color: red;
    list-style: none;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 1280px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 1626px/2);
    background: rgba(0, 0, 0, 0.0001);
}
.menu__list li{
    padding: 25.5px;
    list-style: none; 
}
.home{
width: 68px;
height: 27px;
left: 0px;
top: -6px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
color: #FF0000;
}
.photoapp{
width: 131px;
height: 27px;
left: 140px;
top: -6px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
color: #FF0000;
}
.design{
width: 87px;
height: 27px;
left: 343px;
top: -6px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
color: #FF0000;
}
.download{
width: 140px;
height: 27px;
left: 480px;
top: -6px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
color: #FF0000;
}
image {
width: 1280px;
height: 789px;
left: 0px;
top: 78px;
background: url(image.png);
}
.represent__title{
width: 774px;
height: 29px;
left: 253px;
top: 48px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
padding: 48px 253px 38px 253px;
}
.represent-title__text{
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 0 67.5px 28px 67.5px;
}
.represent-title-text__second{
width: 1145px;
height: 216px;
left: 67.5px;
top: 275px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
padding: 0 67.5px 84px 67.5px;
}
.container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.container__block{
display: block;
width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
background: #FF0000;
border: 1px solid #FF0000;
border-radius: 4px;
}
.get-started__link{
    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;  
    padding: 18px 43.5px 17px 42.5px;
}
.copyright{
width: 462px;
height: 39px;
left: 608px;
top: 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;
color:black;
padding: 82px 105px 29px 713px;
}